on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/exceltoxml-app .
          docker push ${{ secrets.DOCKER_USERNAME }}/exceltoxml-app

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Adding ec2-user to the docker group..."
            sudo usermod -aG docker ec2-user
            echo "Pulling Docker image..."
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/exceltoxml-app
            echo "Creating docker-compose.yml file..."
            echo "version: '3.8'
            services:
              app:
                image: ${{ secrets.DOCKER_USERNAME }}/exceltoxml-app:latest
                ports:
                  - '80:3001'
                environment:
                  NODE_ENV: production
                restart: always" > docker-compose.yml
            echo "Stopping and removing existing Docker containers..."
            sudo docker-compose down
            echo "Starting new Docker containers..."
            sudo docker-compose up -d
            echo "Docker containers started."
            echo "Checking Docker container logs..."
            sudo docker-compose logs